.login-wrapper
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .card
    text-align: center
    padding: 20px
    width: 250px
  img
    width: 200px
    margin-bottom: 20px
  h3
    margin: 15px auto
.alert
  position: fixed
  width: 300px
  right: calc(50% - 165px)

.content-wrapper
  display: flex
  min-height: 100vh
  background: #f8f8f8
.header
  background-color: #fff
  position: fixed
  height: 40px
  padding: 10px
  text-align: center
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04)
  left: 0
  right: 0
  z-index: 1000
  img
    height: 40px
    width: auto
  .logout-wrapper
    position: absolute
    right: 25px
    top: calc(50% - 18px)
    a
      color: #545454
      text-decoration: none
      transition: color 0.3s
      font-size: 25px
      &:hover
        color: #00669a
  .menu-collapse
    position: absolute
    left: 25px
    top: calc(50% - 18px)
    font-size: 25px
    a
      color: #545454
      text-decoration: none
      transition: color 0.3s
      &:hover
        color: #00669a

.menu-wrapper
  background-color: #fff
  position: fixed
  width: 120px
  height: 100%
  left: 0
  top: 0
  z-index: 200
  border-left: 1px solid #f3f3f3
  box-shadow: 0 3px 30px rgba(0,0,0,.1), 0 3px 20px rgba(0,0,0,.1)
  padding-top: 60px
  transition: left 0.5s
  ul
    padding: 0
    margin: 0
    list-style: none
  a
    text-align: center
    width: 120px
    height: 110px
    font-size: 13px
    display: flex
    flex-direction: column
    justify-content: center
    color: #545454
    text-decoration: none
    border-bottom: 1px solid #f3f3f3
    &:hover
      color: #00669a
      background-color: #f8f8f8
    span
      font-size: 32px
  a.active-menu
    color: #00669a
    background-color: #f8f8f8
.collapse
  left: -120px

.content
  display: block
  width: 100%
  margin-left: 120px
  margin-top: 60px
  padding: 20px
  transition: all 0.5s
  h3
    color: #212121
.collapseContent
  margin-left: 0
  
.content-block
  background-color: #fff
  padding: 15px
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04)
  display: flex
