.login-wrapper
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .card
    text-align: center
    padding: 20px
    width: 250px
  img
    width: 200px
  h3
    margin: 15px auto