.login-wrapper
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .card
    text-align: center
    padding: 20px
    width: 250px
  img
    width: 200px
    margin-bottom: 20px
  h3
    margin: 15px auto
.alert
  position: fixed
  width: 300px
  right: calc(50% - 165px)

.content-wrapper
  display: flex
  min-height: 100vh
.menu-wrapper
  width: 250px
  background-color: #80BDF8
.logo-menu
  background-color: #ffffff
  height: 40px
  padding: 10px
  text-align: center
  img
    height: 100%
    width: auto

.content
  width: 100%
  .header-content
    padding: 10px
    height: 40px
    background: #80BDF8
    position: relative
    h4
      margin-left: 20px
      line-height: 40px
      color: #ffffff
    button
      width: 40px
      height: 40px
      right: 25px
      top: 10px
      position: absolute
      background-color: transparent
      border: 1px solid #ffffff
      color: #ffffff
      padding: 5px
      border-radius: 50%
      cursor: pointer
      transition: all 0.3s
      &:hover
        background-color: #fff
        color: #80BDF8